table,
th,
td {
  border: 1px solid #000000;
  border-spacing: 0px;
  color: #ffffff;
  background-color: #000000;
  border-color: #a9a9a9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 30px;
}
.larger {
  background-color: #808080;
}
.heading {
  text-align: center;
}
